@page "/login"
@inject AuthenticationStateProvider AuthenticationStateProvider

<div>
    <EditForm @Model="@model">
        <InputText @bind-Value="model.Email" aria-placeholder="Email" />
        <InputText @bind-Value="model.Password" aria-placeholder="Password" />
    </EditForm>
</div>

@code {
    User model = new User();


    class User {
        public string Email { get; set; }
        public string Password { get; set; }
    }
}