@if(display) {
  <div class="modal-wrap" @onclick="@Close">
    <div class="modal-content" @onclick:stopPropagation="true">
      <div class="modal-header">
        <h3>@Title</h3>
        <span class="oi oi-x btn-close" aria-hidden="true" @onclick="@Close"></span>
      </div>
      <div class="modal-body">
        @ChildContent
      </div>
    </div>
  </div>
}  

@code {
  [Parameter]
  public string Title { get; set; }
  [Parameter]
  public RenderFragment ChildContent { get; set; }

  private bool display { get; set; }

  public void Close() {
    display = false;
    StateHasChanged();
  }
  public void Show() {
    display = true;
    StateHasChanged();
  }
}