@using Features.Users
@inherits BlazorStateComponent

<strong class="username">@UserState.User.Name</strong>
<a @onclick:preventDefault="true" class="link" @onclick="Logout">Logout</a>

@code {
  UserState UserState => GetState<UserState>();

  private async void Logout()
  {    
    await Mediator.Send(new UserState.LogoutAction());
  }
}