@using Domain.Models
@using System.Globalization
<div class="card account-card">
  <span class="oi oi-pencil btn-edit" aria-hidden="true" @onclick="@(() =>  Edit.InvokeAsync(Account))"></span>
  <div class="card-body">
    <h4 class="title-account">@Account.Description</h4>
    <div>@(Account.Balance.ToString("C", CultureInfo.CurrentCulture))</div>
  </div>
</div>

@code {
  [Parameter]
  public Account Account { get; set; }
  [Parameter]
  public int Currency { get; set; }

  [Parameter]
  public EventCallback<Account> Edit { get; set; }
}