@page "/account"
@using Web.Features.Accounts
@using Web.Components.AccountCard
@using Domain.Models
@inject HttpClient Http

@inherits BlazorStateComponent

<h1>Contas</h1>

<div class="new-account-form-wrapper">
  <div class="form-group">
    <label for="description">Descrição</label>
    <input type="text" class="form-control" id="description" @bind="@account.Description">
  </div>
  <div class="form-group">
    <label for="balance">Saldo</label>
    <input type="text" class="form-control" id="balance" @bind="@account.Balance">
  </div>
  <button class="btn btn-primary" @onclick="AddAccount">Adicionar</button>
</div>


<div class="list-accounts-wrapper">
  @foreach (var acc in Accounts)
  {
    <AccountCard
      Description="@acc.Description"
      Balance="@acc.Balance"
      Currency="0"/>
  }
</div>




@code {
  AccountState AccountState => GetState<AccountState>();
  private Account account = new Account();
  private const string URL_Base = "https://localhost:5001/account";
  private IList<Account> Accounts = new List<Account>();
  private string description;
  private float balance;
  private async void AddAccount()
  {
    @* var response = await Http.PostAsJsonAsync(URL_Base, account);
    var responseData = await response.Content.ReadFromJsonAsync<Account>();
    Accounts.Add(responseData);
    account = new Account(); *@
    Mediator.Send(new AccountState.AddAccountAction(account));
    StateHasChanged();
  }
  protected override async Task OnInitializedAsync()
  {
    Accounts = await Http.GetFromJsonAsync<List<Account>>(URL_Base);
  }
}
