@page "/account"
@using Web.Components.AccountCard
@using Domain.Models
@inject HttpClient Http

<h1>Contas</h1>

<div class="new-account-form-wrapper">
  <div class="form-group">
    <label for="description">Descrição</label>
    <input type="text" class="form-control" id="description" @bind="@description">
  </div>
  <div class="form-group">
    <label for="balance">Saldo</label>
    <input type="text" class="form-control" id="balance" @bind="@balance">
  </div>
  <button class="btn btn-primary" @onclick="AddAccount">Adicionar</button>
</div>


<div class="list-accounts-wrapper">
  @foreach (var acc in Accounts)
  {
    <AccountCard
      Description="@acc.Description"
      Balance="@acc.Balance"
      Currency="0"/>
  }
</div>




@code {
  private const string URL_Base = "https://localhost:5001/account";
  private IList<Account> Accounts = new List<Account>();
  private string description;
  private float balance;
  private async void AddAccount()
  {
    var acc = new Account() {
      Description = description,
      Balance = balance
    };
    var response = await Http.PostAsJsonAsync(URL_Base, acc);
    var responseData = await response.Content.ReadFromJsonAsync<Account>();
    Accounts.Add(responseData);
    description = String.Empty;
    balance = 0;
    base.StateHasChanged();
  }
  protected override async Task OnInitializedAsync()
  {
    Accounts = await Http.GetFromJsonAsync<List<Account>>(URL_Base);
  }
}
