.new-account-form-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 300px;
  border: #ccc 2px solid;
  border-radius: 5px;
  padding: 10px;
}

.list-accounts-wrapper {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  flex-wrap: wrap;
}

.buttons-footer {
  margin: 0 auto;
}