@page "/"
@using Domain.Enums
@using System.Globalization
@using Web.Components.AddTransactionMenu
@using Features.FinancialTransactions

@inherits BlazorStateComponent
@attribute [Authorize]

<h1>Dashboard</h1>

<div class="totals-wrapper">
  <div class="card total-incomes-card">
    <strong>Total receitas</strong>
    <span class="total-incomes">
      @(State.financialTransactions
        .Where(ft => ft.Type == FinancialTransactionType.Credit).Sum(ft => ft.Amount).ToString("C", CultureInfo.CurrentCulture))
    </span>
  </div>

  <div class="card total-expenses-card">
    <strong>Total despesas</strong>
    <span class="total-expenses">
      @(State.financialTransactions
        .Where(ft => ft.Type == FinancialTransactionType.Debit).Sum(ft => ft.Amount).ToString("C", CultureInfo.CurrentCulture))
    </span>
  </div>
</div>

<AddTransactionMenu />

@code
{
  FinancialTransactionState State => GetState<FinancialTransactionState>();
  protected override async Task OnInitializedAsync()
  {
    await Mediator.Send(new FinancialTransactionState.ListFinancialTransactionsAction());
  }
}