@page "/login"
@using Domain.Models
@using Features.Users
@layout EntryLayout
@inherits BlazorStateComponent

@inject NavigationManager Navigation

<div>
    <h2 class="title-login">Login</h2>
    <EditForm Model="@model" OnValidSubmit="@LoginAsync">
        <div class="form-group">
            <label for="email">Email</label>
            <InputText id="email" @bind-Value="model.Email" class="form-control" />
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <InputText type="password" id="password" @bind-Value="model.Password" class="form-control" />
        </div>
        <div class="footer-buttons">
            <button type="submit" class="btn btn-primary">Login</button>
            <button class="btn" @onclick="@(() => Navigation.NavigateTo("signup"))">Registrar</button>
        </div>
    </EditForm>
</div>

@code {
    User model = new User();

    private async void LoginAsync()
    {  
        await Mediator.Send(new UserState.LoginAction(model));
    }

}