@page "/signup"
@using Domain.Models
@using Features.Users
@layout EntryLayout
@inherits BlazorStateComponent

@inject NavigationManager Navigation

<div>
    <h2 class="title-login">Registrar</h2>
    <EditForm Model="@user" OnValidSubmit="@SignupAsync">
        <div class="form-group">
            <label for="name">Nome</label>
            <InputText id="name" @bind-Value="user.Name" class="form-control" />
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <InputText id="email" @bind-Value="user.Email" class="form-control" />
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <InputText id="password" @bind-Value="user.Password" class="form-control" />
        </div>
        <div class="footer-buttons">
            <button type="submit" class="btn btn-primary">Registrar</button>
            <button class="btn" @onclick="@(() => Navigation.NavigateTo("login"))">Login</button>
        </div>
    </EditForm>
</div>

@code {
    private User user = new User();
    private async Task SignupAsync()
    {
        await Mediator.Send(new UserState.SignupAction(user));
    }
}