@page "/signup"
@using Domain.Models
@using Features.Users
@layout EmptyLayout
@inherits BlazorStateComponent

<div>
    <EditForm Model="@user" OnValidSubmit="@SignupAsync">
        <InputText id="name" @bind-Value="user.Name" placeholder="Nome" />
        <InputText id="email" @bind-Value="user.Email" placeholder="Email" />
        <InputText id="password" type="password" @bind-Value="user.Password" placeholder="Password" />
        <button type="submit" class="btn btn-primary">Login</button>
    </EditForm>
</div>

@code {
    private User user = new User();
    private async Task SignupAsync()
    {
        await Mediator.Send(new UserState.SignupAction(user));
    }
}